{% block home_aside %}
	<aside class="les-videos Flipped">
		{% for vde in video %}
			<div class="une-video">
				<video id='vid' hidden="true" height="350" controls>
					<source src="{{ asset('uploads/videos/' ~ vde.videoFilename) }}" type="video/mp4" alt="" type="video/mp4">

				</video>
				<div class="img-play-time">
					<img class="image-une-video" src="{{ asset('uploads/videos/pics/' ~ vde.videoPics)|imagine_filter('videopics') }}" width="224" height="224" alt="{{ vde.title }}"/>
					<a class="playicon" href="{{ path('video_details', { slug: vde.slug }) }}">
						<i class="fa fa-play-circle-o" style="font-size: 45px; color: white"></i>
					</a>
					<span class="une-video-duration" id="dur">00:00
					</span>
				</div>

				<div class="une-video-title">
					<i class="fa fa-newspaper-o" style="font-size: 20px"></i>
					<a href="{{ path('video_details', { slug: vde.slug }) }}">{{ vde.title |striptags|u.truncate(100, '...')}}</a>
				</div>
				<div class="view-time">
					<i class="fa fa-eye" style="font-size: 20px"></i>
					<span>2K</span>
					-
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								          11 hours ago
				</div>
				<div class="une-video-avatar">

					<a href="{{ path('user', {'firstName': vde.users.firstName }) }}">
						<img class="user-avatar" alt="photo de {{ vde.users.firstName }} {{ vde.users.lastName }}" src="{{asset ('uploads/images/avatar/' ~ vde.users.avatar)|imagine_filter('avatar') }}"/>
						|
						{{ vde.users.firstName }}
						{{ vde.users.lastName }}
					</a>
				</div>
			</div>
		{% endfor %}
	</aside>
{% endblock %}
{% block javascripts %}
	<script>
		function getDur() {
var m;
var s;
d = document.getElementById("vid");
e = document.getElementById("dur");
s = d.duration;
m = s / 60;
if (s < 10) {
e.innerHTML = Math.floor(m) + ":" + "0" + Math.floor(s);

} else {
e.innerHTML = Math.floor(d.duration);
}

}
	</script>
{% endblock %}
