{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href=" {{ asset('assets/css/home/side/list_right_side.css') }}"/>
{% endblock %}
{% block list_right_side %}

	<div class="containera">

		<header class="comments-header">
			<h1>Comments (6)</h1>
			<i class="fa fa-close"></i>
		</header>

		<div class="comments-inner-container">

			<ul>
				{% for article in articles %}
					<li class="comment-object">
						<a href="{{ path('articles_details', {slug: article.slug})}}" class="image-container">

							<img class="profile-pic" src="{{ asset('uploads/images/articles/' ~ article.images[0].name)|imagine_filter('square') }}" alt="{{ article.title }}"/>
						</a>
						<div class="comment-text">
							<h2 class="username">{{ article.title |striptags|u.truncate(100, '...')  }}
								<span class="muted">&#183; 3 hours ago</span>
							</h2>
							<p class="comment">{{ article.description|striptags|u.truncate(50, '...') }}
							</p>
						</div>
					</li>


				{% endfor %}
			</ul>
		</div>

	</div>

{% endblock %}
