{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}

	{% block stylesheets %}
		<link
		href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
		<!--load all styles -->
		<link rel="stylesheet" type="text/css" href=" {{asset ('assets/css/home/home.css')}}"/>


	{% endblock %}


	<!-- Debut header-->
	{% block header %}
		{% include "header/header.html.twig" %}
	{% endblock %}

	<header></header>

	<div class="todays-events"></div>

	<div class="container">

		<div class="news">

			<div class="main-stories">

				<div class="featured-post">

					<div
						class="featured-image">
						<!--  <img src="http://pbs.twimg.com/media/DOjzRiMUQAABOJ2.jpg">  -->
						<img src="https://www.sofoot.com/IMG/img_580_380_center_articles-503858.jpg">
					</div>

					<div class="scoreboard">

						<div class="tournament-title">2017 KHSAA 6A State Football Playoffs</div>

					</div>
					<!--  Scoreboard  -->

					<div class="featured-post-content">

						<small>
							<a href="">Category</a>
						</small>

						<h3>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</h3>

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

					</div>
					<!--  Featured Post Content  -->

				</div>
				<!--  Featured Post  -->

				<div class="recent-news">

					<div class="stories">

						<div class="recent-news-story">

							<div class="recent-news-story-image"></div>

							<h4>
								<a href="" class="category">Category</a>
								<a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
							</h4>

						</div>

						<div class="recent-news-story">

							<div class="recent-news-story-image"></div>

							<h4>
								<a href="" class="category">Category</a>
								<a href="">SECOND ROUND PLAYOFF TICKETS</a>
							</h4>

						</div>

						<div class="recent-news-story">

							<div class="recent-news-story-image"></div>

							<h4>
								<a href="" class="category">Category</a>
								<a href="">NORTHERN KENTUCKY TRACK AND CROSS COUNTRY COACHES ASSOCIATION ALL-REGION TEAM ANNOUCEMENT</a>
							</h4>

						</div>

					</div>
					<!--  Stories  -->

				</div>
				<!--  Recent News  -->

			</div>
			<!--  Main Stories  -->


			<ul class="more-stories">
				{% for article in articles %}
					<li>
						<div class="category"><img src="{{ asset('uploads/images/articles/' ~ article.images[0].name)|imagine_filter('square') }}" alt="{{ article.title }}"></div>
						<div class="content">
							<small>October 30th, 2017</small>
							<a href="{{ path('articles_details', {slug: article.slug})}}">
								{{ article.title }}
							</a>
						</div>
					</li>
				{% endfor %}
			</ul>

		</div>
		<!--  news  -->

	</div>
	<!--  Container  -->


	<div class="records-box">

		<div class="container">

			<h1>Section Title</h1>

			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

			<div class="records-boxes">

				<div class="box">

					<h1>25</h1>

					<h4>This Is A Sample</h4>

				</div>

				<div class="box">

					<h1>25</h1>

					<h4>This Is A Sample adskjfhas askljdhgf</h4>

				</div>

				<div class="box">

					<h1>25</h1>

					<h4>This Is A Sample</h4>

				</div>

				<div class="box">

					<h1>25</h1>

					<h4>This Is A Sample adskjfhas askljdhgf</h4>

				</div>

				<div class="box">

					<h1>25</h1>

					<h4>This Is A Sample adskjfhas askljdhgf</h4>

				</div>

			</div>
			<!--  Record Boxes  -->

		</div>

	</div>
	<!--  Records Box  -->

	<div class="container">

		<div class="home-page-columns">

			<div class="column">

				<h3>
					<i class="fa fa-university fa-fw" aria-hidden="true"></i>
					<a href="">Section Title</a>
				</h3>

				<p>Take a look at everyone who has been voted into the Campbell County High School Athletic Hall of Fame.</p>

			</div>
			<!--  Column  -->

			<div class="column">

				<h3>
					<i class="fa fa-comments fa-fw" aria-hidden="true"></i>
					<a href="">Section Title</a>
				</h3>

				<p>See contact information for all athletic department members as well as coaches.</p>

			</div>
			<!--  Column  -->

			<div class="column">

				<h3>
					<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
					<a href="">Section Title</a>
				</h3>

				<p>Headed to an away game? Don't get lost, visit the directions page.</p>

			</div>

		</div>
		<!--  Home Page Columns  -->

	</div>
	<!--  Container  -->


	<div class="social-media-section">

		<div class="container">

			<div class="instagram-feed">

				<h1>
					<em>
						<span class="normal-font">#CAMEL</span>PRIDE</em>
				</h1>

				<h3>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					Instagram Feed</h3>

				<ul>
					<li><a href=""><img src="https://www.officechairsonsale.com/product_images/migration/50158qltgry.jpg"></a></li>
					<li><a href=""><img src="https://www.officechairsonsale.com/product_images/migration/50158qltgry.jpg"></a></li>
					<li><a href=""><img src="https://www.officechairsonsale.com/product_images/migration/50158qltgry.jpg"></a></li>
					<li><a href=""><img src="https://www.officechairsonsale.com/product_images/migration/50158qltgry.jpg"></a></li>
				</ul>

			</div>
			<!--  Instagram Feed  -->

			<div class="lower-social-media-section">

				<div class="section">

					<h3>
						<i class="fa fa-twitter" aria-hidden="true"></i>
						Twitter Feed</h3>

					<div class="twitter-feed">

						<ul>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
						</ul>

					</div>
					<!--  Twitter Feed  -->

				</div>
				<!--  Social Media Section  -->


				<div class="section">

					<h3>
						<i class="fa fa-facebook" aria-hidden="true"></i>
						Facebook Feed</h3>

					<div class="facebook-feed">

						<ul>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod ti</a></li>
							<li><a href="">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam n</a></li>
						</ul>

					</div>
					<!--  Facebook Feed  -->

				</div>
				<!--  Social Media Section  -->

			</div>
			<!--  Lower Social Media Section  -->

		</div>
		<!--  Container  -->

	</div>
	<!--  Social Media Section  -->

	<div class="email-signup"></div>
	<!--  Email Signup  -->


	<footer></footer>


{% endblock %}
