{% extends 'base.html.twig' %}
{% block title %}Ajouter un video!
{% endblock %}
{% block body %}
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href=" {{ asset('assets/css/video/video.css') }}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">


	{% endblock %}

	<!-- Debut  header bar -->

	<!-- Fin  header bar -->
	{% block header %}
		{% include "header/header.html.twig" %}
	{% endblock %}

	<!-- Breaknews-->
	<div class="breaking-news">
		<div class="wrapper">
			<strong class="br-title">Breaking</strong>
			<div class="br-article-list">
				<div class="br-article-list-inner">
					<div class="br-article">
						<a href="#0">Work From Home<strong>Grandmother Posts Photos Of Grandaughter's Recital, Earns $12,433</strong>
						</a>
						<a href="#" class="post-title-comment">
							<i class="po po-portus"></i>193</a>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Fin breaknews -->

	<!-- Info urgente-->
	<div class="home-header">
		<div class="flasher">
			<div class="infrared">
				<div class="flash1"></div>
			</div>
		</div>
		<div class="capture content">
			<img src="{{ asset ('assets/images/logo3.png')}}" alt="">
			<h5>URGENT</h5>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet porro veritatis ab voluptatibus 
																																																																																																																																							laboriosam eos quo ducimus rerum doloremque culpa.
																																																																																																																																							 Dicta aspernatur sit incidunt ratione. Eum quam distinctio at ut.</p>
		</div>

		<ul class="share-btn-container">
			<li class="facebook-share ">
				<a class="facebook-btn" href="http://www.facebook.com/sharer.php?u=http://www.example.com">
					<i class="fa fa-facebook-square" style="font-size:30px;color:blue" aria-hidden="true"></i>
				</a>

			</li>
			<li class="whats-share whatsapp-btn ">
				<a class="twitter-btn " href="">
					<i class="fa fa-whatsapp" style="font-size:30px;color:green"></i>
				</a>

			</li>
			<li>
				<a class="twitt-share" href="">
					<i class="fa fa-twitter" style="font-size:30px;color:blue " aria-hidden="true"></i>
				</a>


			</li>
			<li class="capt-image">
				<i class="fa fa-camera" style="font-size:30px;color:black" aria-hidden="true"></i>
			</li>
		</ul>
	</div>
	<!-- Fin  Info urgente-->


	{% for article in articles %}
		<figure class="snip1493">
			<div class="image">
				<img src="{{ asset('uploads/images/articles/' ~ article.images[0].name)|imagine_filter('square') }}" alt="{{ article.title }}">
			</div>
			<figcaption>
				<div class="date">
					<span class="day">28</span>
					<span class="month">Oct</span>
				</div>

				<h3>
					<a href="">
						{{ article.title }}
					</a>
				</h3>


				<p>
					{{ article.description|striptags|u.truncate(200, '...') }}
				</p>
				<footer>
					<div class="views">
						<i class="ion-eye"></i>2,907</div>
					<div class="love">
						<i class="ion-heart"></i>623</div>
					<div class="comments">
						<i class="ion-chatboxes"></i>23</div>
				</footer>
			</figcaption>

		</figure>
	{% endfor %}

	<main class="main-content">


		<div class="container">
			<aside class="les-videos">
				{% for vde in video %}
					<div class="une-video">
						<div class="img-play-time">
							<img class="image-une-video" src="{{ asset('uploads/videos/pics/' ~ vde.videoPics)|imagine_filter('videopics') }}" width="224" height="224" alt="{{ vde.title }}"/>
							<a class="playicon" href="{{ path('admin_videoPost_details', { slug: vde.slug }) }}">
								<i class="fa fa-play-circle-o" style="font-size: 66px; color: white"></i>
							</a>
							<span class="une-video-duration">00:00</span>
						</div>

						<div class="une-video-title">
							<i class="fa fa-newspaper-o" style="font-size: 20px"></i>
							<a href="{{ path('admin_videoPost_details', { slug: vde.slug }) }}">{{ vde.title
						|striptags|u.truncate(150, '...') |raw }}</a>
						</div>
						<div class="view-time">
							<i class="fa fa-eye" style="font-size: 20px"></i>
							<span>2K</span>
							-
																																																																																																																																																																																																																																																																																																																																																																																																																																				          11 hours ago
						</div>
						<div class="une-video-avatar">

							<a href="{{ path('user', {'id': app.user }) }}">
								<img class="user-avatar" alt="photo de {{ vde.users.firstName }} {{ vde.users.lastName }}" src="{{asset ('uploads/images/avatar/' ~ vde.users.avatar)|imagine_filter('avatar') }}"/>
								|
								{{ vde.users.firstName }}
								{{ vde.users.lastName }}
							</a>
						</div>
					</div>
				{% endfor %}
			</aside>
			<section
				class="video-a-la-une">
				<!-- Video content-->
				<div class='player-container'>
					<div class='player'>
						<video width="450" id='video' src='https://player.vimeo.com/external/271851475.sd.mp4?s=1a5c9b2541b420c133ded968b7c042fda26a8c0e&profile_id=165' autoplay playsinline></video>
						<div class='play-btn-big'></div>
						<div class='controls'>
							<div class="time">
								<span class="time-current"></span>
								<span class="time-total"></span>
							</div>
							<div class='progress'>
								<div class='progress-filled'></div>
							</div>
							<div class='controls-main'>
								<div class='controls-left'>
									<div class='volume'>
										<div class='volume-btn loud'>
											<svg width="26" height="24" viewbox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M6.75497 17.6928H2C0.89543 17.6928 0 16.7973 0 15.6928V8.30611C0 7.20152 0.895431 6.30611 2 6.30611H6.75504L13.9555 0.237289C14.6058 -0.310807 15.6 0.151473 15.6 1.00191V22.997C15.6 23.8475 14.6058 24.3098 13.9555 23.7617L6.75497 17.6928Z" transform="translate(0 0.000518799)" fill="white"/>
												<path id="volume-low" d="M0 9.87787C2.87188 9.87787 5.2 7.66663 5.2 4.93893C5.2 2.21124 2.87188 0 0 0V2C1.86563 2 3.2 3.41162 3.2 4.93893C3.2 6.46625 1.86563 7.87787 0 7.87787V9.87787Z" transform="translate(17.3333 7.44955)" fill="white"/>

												<path id="volume-high" d="M0 16.4631C4.78647 16.4631 8.66667 12.7777 8.66667 8.23157C8.66667 3.68539 4.78647 0 0 0V2C3.78022 2 6.66667 4.88577 6.66667 8.23157C6.66667 11.5773 3.78022 14.4631 0 14.4631V16.4631Z" transform="translate(17.3333 4.15689)" fill="white"/>
												<path id="volume-off" d="M1.22565 0L0 1.16412L3.06413 4.0744L0 6.98471L1.22565 8.14883L4.28978 5.23853L7.35391 8.14883L8.57956 6.98471L5.51544 4.0744L8.57956 1.16412L7.35391 0L4.28978 2.91031L1.22565 0Z" transform="translate(17.3769 8.31403)" fill="white"/>
											</svg>

										</div>
										<div class='volume-slider'>
											<div class='volume-filled'></div>
										</div>
									</div>
								</div>
								<div class='play-btn paused'></div>
								<div class="controls-right">
									<div class='speed'>
										<ul class='speed-list'>
											<li class='speed-item' data-speed='0.5'>0.5x</li>
											<li class='speed-item' data-speed='0.75'>0.75x</li>
											<li class='speed-item' data-speed='1' class='active'>1x</li>
											<li class='speed-item' data-speed='1.5'>1.5x</li>
											<li class='speed-item' data-speed='2'>2x</li>
										</ul>
									</div>
									<div class='fullscreen'>
										<svg width="30" height="22" viewbox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M0 0V-1.5H-1.5V0H0ZM0 18H-1.5V19.5H0V18ZM26 18V19.5H27.5V18H26ZM26 0H27.5V-1.5H26V0ZM1.5 6.54545V0H-1.5V6.54545H1.5ZM0 1.5H10.1111V-1.5H0V1.5ZM-1.5 11.4545V18H1.5V11.4545H-1.5ZM0 19.5H10.1111V16.5H0V19.5ZM24.5 11.4545V18H27.5V11.4545H24.5ZM26 16.5H15.8889V19.5H26V16.5ZM27.5 6.54545V0H24.5V6.54545H27.5ZM26 -1.5H15.8889V1.5H26V-1.5Z" transform="translate(2 2)" fill="white"/>
										</svg>

									</svg>


								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Desc title -->
				<div class="title-desc">
					<a href="#">title des ange en con egdgd Nous leur demandons pardons de pasitonner</a>
					<p class="descript">description des choses Lorem ipsum dolor sit 
																																																																																																																																																																																																																																																																																																																																																																								          temporibus, nostrum fuga illo, 
																																																																																																																																																																																																																																																																																																																																																																								          nesciunt ad facilis similique, laborum unde quisquam.
																																																																																																																																																																																																																																																																																																																																																																								        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas

					</p>
					<p class="vuetime">
						<i class="fa fa-eye" style="font-size: 20px"></i>
						<span>2K</span>
						-
																																																																																																																																																																																																																																																																																																																																																																								          11 hours ago</p>
					<div class="title-desc-avatar-container">
						<a href="">
							<img class="title-desc-avatar" alt="" src=""/>
							| Ali Baba

						</a>
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<!--- Video player -->

	<script>
		// ELEMENT SELECTORS
var player = document.querySelector(".player");
var video = document.querySelector("#video");
var playBtn = document.querySelector(".play-btn");
var volumeBtn = document.querySelector(".volume-btn");
var volumeSlider = document.querySelector(".volume-slider");
var volumeFill = document.querySelector(".volume-filled");
var progressSlider = document.querySelector(".progress");
var progressFill = document.querySelector(".progress-filled");
var textCurrent = document.querySelector(".time-current");
var textTotal = document.querySelector(".time-total");
var speedBtns = document.querySelectorAll(".speed-item");
var fullscreenBtn = document.querySelector(".fullscreen");

// GLOBAL VARS
let lastVolume = 1;
let isMouseDown = false;

// PLAYER FUNCTIONS
function togglePlay() {
if (video.paused) {
video.play();
} else {
video.pause();
} playBtn.classList.toggle("paused");
}
function togglePlayBtn() {
playBtn.classList.toggle("playing");
}

function toggleMute() {
if (video.volume) {
lastVolume = video.volume;
video.volume = 0;
volumeBtn.classList.add("muted");
volumeFill.style.width = 0;
} else {
video.volume = lastVolume;
volumeBtn.classList.remove("muted");
volumeFill.style.width = `${
lastVolume * 100
}%`;
}
}
function changeVolume(e) {
volumeBtn.classList.remove("muted");
let volume = e.offsetX / volumeSlider.offsetWidth;
volume < 0.1 ? (volume = 0) : (volume = volume);
volumeFill.style.width = `${
volume * 100
}%`;
video.volume = volume;
if (volume > 0.7) {
volumeBtn.classList.add("loud");
} else if (volume < 0.7 && volume > 0) {
volumeBtn.classList.remove("loud");
} else if (volume == 0) {
volumeBtn.classList.add("muted");
}
lastVolume = volume;
}
function neatTime(time) { // var hours = Math.floor((time % 86400)/3600)
var minutes = Math.floor((time % 3600) / 60);
var seconds = Math.floor(time % 60);
seconds = seconds > 9 ? seconds : `0${seconds}`;
return `${minutes}:${seconds}`;
}
function updateProgress(e) {
progressFill.style.width = `${
(video.currentTime / video.duration) * 100
}%`;
textCurrent.innerHTML = `${
neatTime(video.currentTime)
} / ${
neatTime(video.duration)
}`;
// textTotal.innerHTML = neatTime(video.duration);
// console.log(progressFill.style.width);
}
function setProgress(e) {
const newTime = e.offsetX / progressSlider.offsetWidth;
progressFill.style.width = `${
newTime * 100
}%`;
video.currentTime = newTime * video.duration;
}
function launchIntoFullscreen(element) {
if (element.requestFullscreen) {
element.requestFullscreen();
} else if (element.mozRequestFullScreen) {
element.mozRequestFullScreen();
} else if (element.webkitRequestFullscreen) {
element.webkitRequestFullscreen();
} else if (element.msRequestFullscreen) {
element.msRequestFullscreen();
}
}
function exitFullscreen() {
if (document.exitFullscreen) {
document.exitFullscreen();
} else if (document.mozCancelFullScreen) {
document.mozCancelFullScreen();
} else if (document.webkitExitFullscreen) {
document.webkitExitFullscreen();
}
}
var fullscreen = false;
function toggleFullscreen() {
fullscreen ? exitFullscreen() : launchIntoFullscreen(player);
fullscreen = ! fullscreen;
}
function setSpeed(e) {
console.log(parseFloat(this.dataset.speed));
video.playbackRate = this.dataset.speed;
speedBtns.forEach((speedBtn) => speedBtn.classList.remove("active"));
this.classList.add("active");
}
function handleKeypress(e) {
switch (e.key) {
case " ": togglePlay();
case "ArrowRight": video.currentTime += 5;
case "ArrowLeft": video.currentTime -= 5;
default:
return;
}
}
// EVENT LISTENERS
playBtn.addEventListener("click", togglePlay);
video.addEventListener("click", togglePlay);
video.addEventListener("play", togglePlayBtn);
video.addEventListener("pause", togglePlayBtn);
video.addEventListener("ended", togglePlayBtn);
video.addEventListener("timeupdate", updateProgress);
video.addEventListener("canplay", updateProgress);
volumeBtn.addEventListener("click", toggleMute);
window.addEventListener("mousedown", () => (isMouseDown = true));
window.addEventListener("mouseup", () => (isMouseDown = false));
// volumeSlider.addEventListener('mouseover', changeVolume);
volumeSlider.addEventListener("click", changeVolume);
progressSlider.addEventListener("click", setProgress);
fullscreenBtn.addEventListener("click", toggleFullscreen);
speedBtns.forEach((speedBtn) => {
speedBtn.addEventListener("click", setSpeed);
});
window.addEventListener("keydown", handleKeypress);
	</script>


	<!--- Partie Urgent et breaknews -->

	<script src="{{asset ('assets/script/home/homeCenter.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		// button connectez vous avant de commenter const button = document.querySelector(" .btn-join");
const modal = document.querySelector(" .overlay");
const close = document.querySelector(" .annuler");
button.addeventlistener(" click", function () {
modal.style.display = " block"
})
close.addeventlistener(" click", function () {
modal.style.display = " none"
})

document.body.addeventlistener(" click", function (e) {
if (e.target.classList[0] == " overlay") {
modal.style.display = " none"
}
});
	</script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://bitbillions.com/wp-content/themes/pagestheme/js/iscroll.min.js"></script><!--- Break news--><script src="https://codepen.io/atelierbram/pen/GWwPWx/"></script>
	<script>
		!function (e) {
"use strict";

function t() {
var e = 0;
jQuery(".br-article-list-inner", ".br-article-list").each(function () {
var t = jQuery(this),
a = e;
if (e += 1, t.find(".br-article").size() > 0) {
if (!i) 
return !1;



var h = (parseInt(t.find(".br-article").css("margin-right"), 10), parseInt(t.parent().css("width"), 10), t),
g = 0;
h.find(".br-article").each(function () {
g = g + parseInt(jQuery(this).width(), 10) + parseInt(jQuery(this).css("padding-right"), 10) + parseInt(jQuery(this).css("margin-right"), 10)
});
d[a] = g / 2,
c[a] && (jQuery(this).parent().parent().parent().addClass("isscrolling"), jQuery(".br-article-list-inner").eq(a).parent().parent().parent().attr("rel", a), t.find(".br-article").clone().appendTo(this), c[a] =! 1);
var y = d[a] + l[a];
Math.abs(y) <= Math.abs(s[a]) && o(a),
u[a] || (u[a] = setInterval(function () {
r(t, a)
}, n))
}
}),
setTimeout(function () {
new t
}, n)
}

function r(e, t) {
s[t] = s[t] - 1,
e.css("left", s[t] + "px")
}

function o(e) {
s[e] = 0,
jQuery(".br-article-list").eq(e).find(".br-article-list-inner").css("left", "0px")
}

function a(e, t) {
var r = document.createElement("CANVAS"),
o = r.getContext("2d"),
a = new Image;
return r.height = t,
r.width = e,
o.drawImage(a, 0, 0),
setTimeout(function () {
r = null
}, 10),
r.toDataURL("image/png")
}
var i = !0,
n = 40,
s = [
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
],
l = [
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
],
c = [
!0,
!0,
!0,
!0,
!0,
!0,
!0,
!0,
!0,
!0
],
u = [],
d = [
0,
0,
0,
0,
0,
0,
0,
0,
0,
0
];
Array.prototype.forEach2 = function (e) {
for (var t = this.length, r = 0; t > r; r++) 
e(this[r], r)





},
new t,
jQuery(document).on("ready", function () {
jQuery("[data-ot-css]", "body").toArray().forEach2(function (e) {
var t = jQuery(e);
t.attr("style", t.data("ot-css"))
});
var e = window.devicePixelRatio > 1;
if (e) {
jQuery(".retina-check", "body").toArray().forEach2(function (e) {
jQuery(e).addClass("go-retina")
});
jQuery("img[data-ot-retina]", "body").toArray().forEach2(function (e) {
var t = jQuery(e),
r = new Image;
return "" == t.data("ot-retina") ? !1 : (r.src = t.attr("src"), void jQuery(r).load(function () {
var e = jQuery(this);
t.attr("src", a(e[0].width, e[0].height)),
t.css({
"background-image": "url('" + t.data("ot-retina") + "')",
"background-size": "100% 100%",
"background-repeat": "none"
})
}))
})
}
//        jQuery("input[type=text]", ".search-nav").on("focus blur", function() {
//            var e = jQuery(this);
//            "" != e.val() ? e.addClass("active") : e.removeClass("active")
//        }),
//         jQuery(".short-tabs", "body").toArray().forEach2(function(e) {
//            var t = jQuery(e);
//            t.children("ul").children("li").eq(0).addClass("active"), t.children("div").eq(0).addClass("active")
//        }),
//         jQuery(".short-tabs > ul > li a", "body").on("click", function() {
//            var e = jQuery(this).parent();
//            return e.siblings(".active").removeClass("active"), e.addClass("active"), e.parent().siblings("div.active").removeClass("active"), e.parent().siblings("div").eq(e.index()).addClass("active"), !1
//        })
//         , jQuery(".accordion > div > a", "body").on("click", function() {
//            var e = jQuery(this).parent();
//            return e.hasClass("active") ? (e.removeClass("active").children("div").animate({
//                height: "toggle",
//                opacity: "toggle",
//                "padding-top": "toggle"
//            }, 300), !1) : (e.siblings("div").toArray().forEach2(function(e) {
//                var t = jQuery(e);
//                t.hasClass("active") && t.removeClass("active").children("div").animate({
//                    height: "toggle",
//                    opacity: "toggle",
//                    "padding-top": "toggle"
//                }, 300)
//            }), e.addClass("active").children("div").animate({
//                height: "toggle",
//                opacity: "toggle",
//                "padding-top": "toggle"
//            }, 300), !1)
//        }),
//         jQuery("button", ".photo-gallery-thumbs").on("click", function() {
//            var e = jQuery(this),
//                t = e.siblings(".photo-gallery-thumbs-inner").children(".item").eq(0),
//                r = e.siblings(".photo-gallery-thumbs-inner").data("thumbs-start-from");
//            if (e.hasClass("photo-gallery-nav-left")) r + 216 >= 0 ? (r = 0, e.siblings(".photo-gallery-thumbs-inner").removeClass("not-first").removeClass("is-last")) : (r += 216, e.siblings(".photo-gallery-thumbs-inner").removeClass("is-last"));
//            else if (e.hasClass("photo-gallery-nav-right")) {
//                var o = 86 * e.siblings(".photo-gallery-thumbs-inner").children(".item").size() - parseInt(jQuery(".photo-gallery-thumbs-inner", ".photo-gallery-thumbs").width(), 10); - 1 * o >= r - 216 ? o > 0 && (r = -1 * o, e.siblings(".photo-gallery-thumbs-inner").addClass("is-last")) : (r -= 216, e.siblings(".photo-gallery-thumbs-inner").addClass("not-first").removeClass("is-last"))
//            }
//            return t.css("margin-left", r + "px"), e.siblings(".photo-gallery-thumbs-inner").data("thumbs-start-from", r), !1
//        }),
//         jQuery(".lightbox", "body").on("click", function() {
//            var e = jQuery(this);
//            e.css("overflow", "hidden"), jQuery("body").css("overflow", "auto"), e.find(".lightcontent").fadeOut("fast"), e.fadeOut("slow")
//        }).children().on("click", function(e) {
//            return !1
//        }), jQuery(".lightbox .light-close", "body").on("click", function() {
//            return jQuery(".lightbox").click(), !1
//        })
});
var h = !1;
//    jQuery(window).on("scroll", function() {
//        var e = jQuery(".ot-menu-will-follow .main-menu-placeholder").parent(),
//            t = jQuery(".ot-menu-will-follow .is-now-following");
//        e.size() > 0 && jQuery(window).scrollTop() >= parseInt(e.offset().top, 10) + 280 ? e.addClass("smallify") : t.size() > 0 && jQuery(window).scrollTop() < parseInt(t.offset().top, 10) + 280 && t.removeClass("smallify"), e.size() > 0 && jQuery(window).scrollTop() >= parseInt(e.offset().top, 10) && 0 == h ? (h = !0, e.css({
//            height: e.children(".main-menu-placeholder").height()
//        }), e.addClass("is-now-following")) : t.size() > 0 && jQuery(window).scrollTop() < parseInt(t.offset().top, 10) && 1 == h && (h = !1, t.removeClass("is-now-following").css({
//            height: "auto"
//        }))
//     }), setTimeout(function() {
//         jQuery(".theiaStickySidebar", "body").parent().theiaStickySidebar({
//              additionalMarginTop: 30
//          })
//     }, 100),

jQuery(".breaking-news").on("mouseenter", function () {
var e = jQuery(this).attr("rel");
clearTimeout(u[e])
}).on("mouseleave", function () {
var e = jQuery(this).attr("rel");
u[e] = !1
}),
jQuery("[data-spacer-color]", "body").toArray().forEach2(function (e) {
var t = jQuery(e);
t.css({color: t.data("spacer-color"), "background-color": t.data("spacer-color")})
})
}(jQuery);
	</script><!-- Urgent --><script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
	<script>
		const mainWrappperDiv = document.querySelector(".capture");


const downloadImage = () => {
html2canvas(mainWrappperDiv, {
onrendered: function (canvas) {
var link = document.createElement("a");
document.body.appendChild(link);
link.download = "html_image.png";
link.href = canvas.toDataURL("image/png");
link.target = "_blank";
link.click();

// document.body.appendChild(canvas)
}
});
};

const downloadBtn = document.querySelector(".fa-camera");
downloadBtn.addEventListener("click", downloadImage);
	</script>
	<!-- Fin Breaknews et urgent -->
{% endblock %}
