{% block header %}
	{% block stylesheets %}
		<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href=" {{ asset('assets/css/header/header.css') }}"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>

	{% endblock %}
	<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">
		<div class="navbar-header d-flex col">
			<a class="navbar-brand" href="#">
				<i class="fa fa-cube"></i>CodeWith<b>Coders</b>
			</a>
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
				<span class="navbar-toggler-icon"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collection of nav links, forms, and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
			<form class="navbar-form form-inline">
				<div class="input-group search-box">
					<input type="text" id="search" class="form-control" placeholder="Search here...">
					<span class="input-group-addon">
						<i class="material-icons">&#xE8B6;</i>
					</span>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right ml-auto">
				<li class="nav-item active">
					<a href="{{ path ('app_home')}}" class="nav-link">
						<i class="fa fa-home" style="font-size:24px;color:black"></i>
						<span>Home</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa fa-gears" style="font-size:24px;color:black"></i>
						<span>Debat</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa fa-users"></i>
						<span>Team</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa fa-pie-chart"></i>
						<span>Reports</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa fa-briefcase"></i>
						<span>Careers</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa fa-envelope"></i>
						<span>Messages</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa fa-bell"></i>
						<span>Notifications</span>
					</a>
				</li>
				{% if is_granted('ROLE_REDACTOR') %}
					<li class="nav-item dropdown">
						<a href="{{ path('user', {'firstName': app.user.firstName }) }}" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="{{asset(('uploads/images/avatar/' ~ app.user.avatar)|imagine_filter('avatar')) }}" class="avatar" alt="photo de {{ app.user.firstName }} {{ app.user.firstName }}">
							{{ app.user.firstName }}
							{{ app.user.lastName }}
							|
							{% if app.user.roles[0] == "ROLE_USER" %}
								Visiteur
							{% elseif app.user.roles[0] == "ROLE_REDACTOR" %}
								Rédacteur
							{% elseif app.user.roles[0] == "ROLE_ADMIN" %}
								Administrateur
							{% elseif app.user.roles[0] == "ROLE_CONTRIBUTOR" %}
								Contributeur
							{% endif %}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ path('user', {'firstName': user.firstName }) }} }}" class="dropdown-item">
									<i class="fa fa-user-o"></i>
									Profile</a>
							</li>
							<li>
								<a href="{{ path('admin_home') }}}}" class="dropdown-item">
									<i class="fa fa-calendar-o"></i>
									Admin</a>
							</li>
							<li class="divider dropdown-divider"></li>
							<li>
								<a href="{{ path('app_logout') }}" class="dropdown-item">
									<i class="material-icons">&#xE8AC;</i>
									Logout</a>
							</li>
						</ul>
					</li>
				{% elseif app.user %}

					<li class="nav-item dropdown">
						<a href="{{ path('user', {'firstName': app.user.firstName }) }}" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="{{asset(('uploads/images/avatar/' ~ app.user.avatar)|imagine_filter('avatar')) }}" class="avatar" alt="photo de {{ app.user.firstName }} {{ app.user.firstName }}">
							{{ app.user.firstName }}
							{{ app.user.lastName }}
							|
							{% if app.user.roles[0] == "ROLE_USER" %}
								Visiteur
							{% elseif app.user.roles[0] == "ROLE_REDACTOR" %}
								Rédacteur
							{% elseif app.user.roles[0] == "ROLE_ADMIN" %}
								Administrateur
							{% elseif app.user.roles[0] == "ROLE_CONTRIBUTOR" %}
								Contributeur
							{% endif %}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ path('user', {'firstName': app.user.firstName }) }}" class="dropdown-item">
									<i class="fa fa-user-o"></i>
									Profile</a>
							</li>
							<li>

								<a href="#" class="dropdown-item">
									<i class="fa fa-calendar-o"></i>
									Calendar</a>
							</li>
							<li>
								<a href="#" class="dropdown-item">
									<i class="fa fa-sliders"></i>
									Settings</a>
							</li>
							<li class="divider dropdown-divider"></li>
							<li>
								<a href="{{ path('app_logout') }}" class="dropdown-item">
									<i class="material-icons">&#xE8AC;</i>
									Logout</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li class="nav-item dropdown">
						<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="{{ asset('uploads/images/avatars/avatar.jpg')}}" class="avatar" alt="Avatar">

							Anonyme
																																																																																																																																																																
																																																																																																																																																										|
																																																																																																																																																																	S'inscrire/Se connecter
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ path ('app_register')}}" class="dropdown-item">
									<i class="fa fa-user-o"></i>
									S'inscrire</a>
							</li>

							<li class="divider dropdown-divider"></li>
							<li>
								<a href="{{ path ('app_login')}}" class="dropdown-item">
									<i class="material-icons">&#xE8AC;</i>
									Se connecter</a>
							</li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>

{% endblock %}
{% block javascript %}{% endblock %}
