{% extends 'base.html.twig' %}

{% block title %}Ajouter un article!
{% endblock %}

{% block body %}

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href=" {{asset ('assets/css/user/dist/editProfile.css')}}"/>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

	{% endblock %}

	{% block header %}
		{% include "header/header.html.twig" %}
	{% endblock %}



	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					{% if app.user.avatar %}
						<img class="pic img-circle" alt="photo de {{ app.user.firstName }} {{ app.user.firstName }}" src="{{asset(('uploads/images/avatar/' ~ app.user.avatar)|imagine_filter('avatar')) }}">
					{% endif %}
					<div class="username">{{app.user.firstName}}
						{{app.user.lastName}}</a>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="sidebar-nav">
			<div class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="visible-xs navbar-brand">Profile menu</span>
				</div>
				<div class="navbar-collapse collapse sidebar-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="{{ path('user')}}">Profile</a>
						</li>
						<li>
							<a href="#">Edit profile</a>
						</li>
						<li>
							<a href="{{ path('modifier_mot_de_passe')}}">Change password</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<span class="profile-item-header">
			Edit profile:</span>
		<div class="edit-profile">
			<form id="editProfileForm" method="post">
				<div class="form-group row">
					<label class="col-xs-3 form-control-label" for="firstName">First name</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-3 form-control-label" for="lastName">Last name</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-3 form-control-label">Gender</label>
					<div class="col-xs-9 gender">
						<label class="radio-inline">
							<input type="radio" name="genderRadio" value="male" checked="checked">
							<i class="fa fa-mars"></i>
							<span>Male</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="genderRadio" value="female">
							<i class="fa fa-venus"></i>
							<span>Female</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="genderRadio" value="unknown">
							<i class="fa fa-reddit-alien"></i>
							<span>Unknown</span>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-3 form-control-label" for="birth">Date of Birth</label>
					<div class="col-xs-9 date">
						<div class="input-group date" id="birth">
							<input type="text" class="form-control" readonly>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-3 form-control-label" for="Country">Country</label>
					<div class="col-xs-9">
						<select name="country" class="form-control">
							<option label="Select your country"></option>
							<option value="arabic">Arabic</option>
							<option value="english">English</option>
							<option value="french">French</option>
							<option value="german">German</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-3 form-control-label" for="avatar">Choose avatar</label>
					<div class="col-xs-9">
						<input name="avatar" type="file" class="file file-loading" data-allowed-file-extensions='["png", "jpg"]'>
					</div>
				</div>
				<div class="col-xs-12 button-container">
					<input class="btn btn-default" type="submit" value="Save changes"/>
					<input class="btn btn-default" type="reset" value="Reset changes"/>
				</div>
			</form>
		</div>
	</div>
</div>

{{ form(form)}}{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src=" {{asset ('assets/script/user/editProfile.js')}}"></script>
{% endblock %}
